**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.env.db
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
**/*.pyc
**/.env.example
**/*.md
**/alembic
**/alembic.ini
**/ngrok.exe
_